*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  padding: 1em;
  margin: 0;
  margin-top: 1em;

  background-color: #4696e5;

  color: white;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-shadow: 0.1em 0.1em 0.08em #2d6a85;

}

img{
  height: 4em;
  margin: 0 1em 0.7em 0;
  display: inline-block;
}

p{
  display: inline-block;
}

.inline{
  display: inline-block;
  width: 80%;
}


h1,h3{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

h1{
  font-size: 1.5em;
}

h3{
  font-size: 1em;
  font-style: italic;
}

h4{
  text-align: center;
  margin-top: 0.2em;
}
ul{
  padding: 0;
  max-width: 13.5em;

  margin-left: auto;
  margin-right: auto;
}

li{
  display: inline-block;
  list-style: none;

  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid gray;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

li:hover, li.active{
  border-bottom: 1px solid white;
}

.streamerList{
  position: relative;
  max-width: 60%;

  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 1em 1em 1em;

  background-color: rgb(41, 133, 200);

  box-shadow: 0.1em 0.1em 0.08em #2d6a85;
}

.streamer-online{
  border-left: 0.6em solid rgb(9, 163, 52);
}

.streamer-offline{
  border-left: 0.6em solid rgb(110, 110, 110);
  color: rgb(191, 186, 186);
}

.streamer-notExist{
  border-left: 0.6em solid rgb(255, 0, 0);
  color: rgb(191, 186, 186);
}
