*, *:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  padding: 1em;
  margin: 0;
  margin-top: 1em;

  background-color: #4696e5;

  color: white;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-shadow: 0.1em 0.1em 0.08em #2d6a85;

}

img{
  height: 4em;
  margin: auto 1em auto 0;
  display: inline-block;
}

p{
  display: inline-block;
}

.inline{
  display: inline-block;
}

.container{

}

.menu-container{

}

ul{
  padding: 0;
  max-width: 13.5em;

  margin-left: auto;
  margin-right: auto;
}

li{
  display: inline-block;
  list-style: none;

  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid gray;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

li:hover, li.active{
  border-bottom: 1px solid white;
}

.streamerList{
  position: relative;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
}

.streamer-online{
  border-left: 0.6em solid rgb(9, 163, 52);
}
